# 语言
Language: Cpp

# 基于
BasedOnStyle: Google

# 使用制表符
UseTab: Always

# 缩进长度
TabWidth: 4
IndentWidth: 4

# 指针的*偏向
PointerAlignment: Right

# 短函数仍然另起一行
AllowShortFunctionsOnASingleLine: Empty

# 标识符缩进长度
AccessModifierOffset: -4

# 每行字符的限制，0表示没有限制
ColumnLimit: 0

# 在大括号前换行: , 
# Mozilla (除枚举、函数、记录定义，与Attach类似), Stroustrup (除函数定义、catch、else，与Attach类似), 
# Allman (总是在大括号前换行), GNU (总是在大括号前换行，并对于控制语句的大括号增加额外的缩进), WebKit (在函数前换行), Custom
BreakBeforeBraces: Custom

# 大括号换行,当BreakBeforeBraces设置为Custom时才有效
BraceWrapping: 
  BeforeElse: true # else之前

# 禁用头文件排序
SortIncludes: false
